{
    "VCAP_SERVICES": {
        "xsuaa": [
            {
                "name": "xsuaa", "label": "xsuaa", "tags": [ "xsuaa" ],
                "credentials": {
                    "apiurl": "https://api.authentication.eu10.hana.ondemand.com",
                    ...
                }
            }
        ]
    }
}